.foter {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 95.59%;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .container {
    max-width: 1200px;
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 80%;
    }
  }